@import "tailwindcss";

:root {
  --font-sans: var(--font-ubuntu);
}

/* WIP : voir si implemente ou non dans app au final */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
